<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaceLock</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="container">

        <div class="card">

            <h1>🔐 FaceLock</h1>

            <p class="subtitle">
                Secure File Authentication using Face Recognition
            </p>

            <div class="buttons">

    <a href="/register">
        <button class="btn">📷 Register Face</button>
    </a>

    <a href="/login">
        <button class="btn secondary">🔓 Login</button>
    </a>

</div>

        </div>

    </div>

    <footer>
        © 2026 FaceLock | Built with Flask
    </footer>

</body>
</html>