<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaceLock</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="container">

        <div class="logo">
            🔐
        </div>

        <h1>FaceLock</h1>

        <p>
            Secure your files using Face Recognition Authentication.
        </p>

        <div class="buttons">
            <a href="/login" class="btn">Login</a>

            <a href="/register" class="btn secondary">Register</a>
        </div>

    </div>

</body>
</html>