<!DOCTYPE html>
<html>
<head>
    <title>My Files</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>

<body>

<div class="container">

    <h1>📁 My Uploaded Files</h1>

    <h3>Welcome, {{ username }}</h3>

    <table>

        <tr>
            <th>File Name</th>
            <th>Size (KB)</th>
     {% for file in files %}

<tr>

    <td>{{ file.name }}</td>

    <td>{{ file.size }} KB</td>

    <td>

        <form
            action="{{ url_for(
                'encrypt_uploaded_file',
                username=username,
                filename=file.name
            ) }}"
            method="POST">

            <button type="submit">
                🔒 Encrypt
            </button>

        </form>

    </td>

</tr>

{% endfor %}  

    </table>

    <br>

    <a href="/">⬅ Back to Dashboard</a>

</div>

</body>
</html>