<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaceLock - Register</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">
    <div class="card">

        <h1>📷 Face Registration</h1>

        <h3>Camera Preview</h3>

<img src="{{ url_for('static', filename='images/camera_placeholder.png') }}"
     alt="Camera Preview"
     width="350">
        <br><br>

        <button class="btn">📸 Capture Face</button>

        <button class="btn secondary">✅ Register</button>

        <br><br>

        <a href="/">⬅ Back Home</a>

    </div>
</div>

</body>
</html>